<div class="container">

    <div class="row mt-5">
        <div *ngIf="recipe" class="col-xs-12">
            <img [src]="recipe.imagePath"
            alt="{{recipe.name}}"
            style="max-height: 200px;" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div *ngIf="recipe" class="col-xs-12">
            <h1>{{recipe.name}}</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <select (change)="onChange($event)" class="btn btn-primary">
                <option value="recipe" selected>Manage Recipe <span class="caret"></span></option>
                <option style="cursor: pointer;" value="To Shopping List">To Shopping List</option>
                <option style="cursor: pointer;" value="Edit Recipe">Edit Recipe</option>
                <option style="cursor: pointer;" value="Delete Recipe">Delete Recipe</option>
            </select>
        </div>
    </div>
    <div class="row">
    <div  *ngIf="recipe" class="col-xs-12">
        {{recipe.description}}
    </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group">
                <li
                class="list-group-item"
                *ngFor="let ingredient of recipe?.ingredients; let i=index"
                    [ngStyle]="{'float': i % 2 == 0 ? 'right':'left'}" 
                    >
                    {{ ingredient.name }} - {{ ingredient.amount }}
                </li>
            </ul>
        </div>
    </div>
</div>