<div class="container">

    <div class="row mt-5">
        <div *ngIf="recipe" class="col-xs-12">
            <img [src]="recipe.imagePath"
            alt="{{recipe.name}}"
            style="max-height: 200px;" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div *ngIf="recipe" class="col-xs-12">
            <h1>{{recipe.name}}</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <select class="btn btn-primary">
                <option selected>Manage Recipe <span class="caret"></span></option>
                <option>Add Recipe</option>
                <option>Edit Recipe</option>
                <option>Delete Recipe</option>
            </select>
        </div>
    </div>
    <div class="row">
    <div  *ngIf="recipe" class="col-xs-12">
        {{recipe.description}}
    </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            Ingredients
        </div>
    </div>
</div>